name: Continuous Test

on:
  push:
    branches:
      - 'main'
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker.io/jcfaracco/dasf:cpu
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          pip install poetry
          # Skip this command due to issues: poetry self update
          poetry config virtualenvs.create false
          poetry build
          # Installing test dependencies
          pip install -i https://test.pypi.org/simple/ XPySom-dask
          pip install --upgrade --force-reinstall dist/*.whl flake8 pytest mock parameterized
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 dasf/ --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 dasf/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run test cases
        run: |
          pytest tests/
