name: Commit Check Policy

on:
  push:
  pull_request:
    branches: 'main'
  workflow_dispatch:

jobs:
  commit-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: commit-check/commit-check-action@v1
        with:
          message: true
          branch: true
          author-name: true
          author-email: true
          commit-signoff: true
          job-summary: true
